.Archive/.ipynb_checkpoints
.Archive/SaveState - prior to changing Target Variable.ipynb
.Archive/SaveState-before-removing-old-DT.ipynb
.Archive/student-original-with-archive.ipynb

.archive.zip
.bigml_59c28831336c6604c800002a.csv
.final_with_archive.ipynb
.phase_3_github.pdf
.Phase_3_Project_Notebook.pdf
